<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="baseDir" value="C:\tmp\DOHClinicians\"/>
    <add key="CliniciansURL" value="https://www.haad.ae/ShafafiyaDictionary/Licenses/ClinicianLicenses.xlsx"/>
    <add key="ClinicianSheetname" value="Clinicians"/>

    <add key="CliniciansHistoryURL" value="https://www.haad.ae/ShafafiyaDictionary/ClinicianLicenseHistory/Clinician%20Licensing%20History.xlsx"/>
    <add key ="ClinicianHistorySheetname" value ="Clinician Licensing Status"/>

    <add key="to_filter" value="false"/>

    <add key="LMU_QA_Username" value="faisal"/>
    <add key="LMU_QA_Token" value="Z1aGN9r9-4jb1dGCR-b71qJYKg"/>

    <add key="LMU_Prod_Username" value="fansari"/>
    <add key="LMU_Prod_Token" value="UbPkuwPQdOuqQo9wKkh8nLtYwTqSiGsP"/>

    <!--https://uat.lmuregistry.com-->
    <!--http://lmu.dimensions-healthcare.com-->

    <add key="LMU_URL" value="http://lmu.dimensions-healthcare.com"/>
    <add key="LMU_Clinician_Latest" value="/LMUCore/api/data-registry/Clinicians/lastVersion"/>
    <add key="LMU_Specialities_Latest" value="/LMUCore/api/data-registry/SpecialtiesList/lastVersion"/>

    <!--<add key="LMU_Clinician" value="/LMUCore/api/data-registry/Clinicians/updated"/>-->
    <add key="LMU_Clinician" value="/LMUCore/api/data-registry/Clinicians/repositories"/>
    <add key="LMU_Specialities" value="/LMUCore/api/data-registry/SpecialtiesList/updated"/>

    <add key="FTPUsername" value="ftplmu"/>
    <add key="FTPPassword" value="ftplmu"/>
    <add key="FTPLocalPath" value="/Clinicians/Pending"/>
    <add key="FTPHost" value="10.162.176.121"/>


  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>